body {
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

label {
  font-size: 12px;
  color: #CCC;
}
.parentHolder{
  width: 100%;
}

.desc {
  font-size: 11px;
  color: #888;
}

.keysHolder {
  width: 50%;
  float: left;
}

.mouseHolder {
  width: 45%;
  float: left;
}
.boxInner
{
  border: 2px solid #000;
  background-color: #212121;
  color: #CCC;
  padding: 6px;
  font-size: 14px;
}

xui-section {
  margin:0;
}
